body {
    margin: 0;
    padding: 0;
    background: rgb(43, 41, 41);
}

.navbar{
    padding: .5rem;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    color: cornsilk;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper div{
    display: flex;
    align-items: center;
}
button{
    width: 5rem;
    height: 2rem;
    background: rgb(67, 39, 95);
    border: 1px solid dodgerblue;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visualWrapper{
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.visual{
    padding: 0 1rem;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}
.radio_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.visualizer{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    width: .5rem; 
    background: rgb(200,255,250);
    transition: .1s height ease;
}
input{
    padding: 1rem;
    justify-content: space-around;
}
@media screen and (max-width: 480px){
    body{
        font:10px;
    }
    .navbar{
        flex-direction: column;
    }
    .wrapper{
        flex-direction: column;
    }
    .visual{
        flex-direction: column;

    }
    .radio_wrapper{
        flex-direction: row;
    }
}